<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NAFLD_App"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NAFLD_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver for Notifications -->
        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NAFLD_App" />

        <!-- Survey Activity -->
        <activity
            android:name=".SurveyActivity"
            android:exported="true"
            android:label="@string/patient_survey"
            android:theme="@style/Theme.NAFLD_App" />

        <!-- Trigger Food Activity -->
        <activity android:name=".TriggerFoodActivity" />

        <!-- Add Medicine Activity -->
        <activity android:name=".AddMedicineActivity" />

        <!-- Add Prediction Activity -->
        <activity android:name=".AddPredictionActivity" />

        <!--<activity android:name=".ExerciseRecommendationActivity" />-->

        <!-- Exercise Questionnaire Activity -->
        <activity
            android:name=".ExerciseRecommendationActivity"
            android:exported="true"
            android:label="@string/exercise"
            android:theme="@style/Theme.NAFLD_App"/>

        <!-- Exercise Calendar Activity -->
        <activity
            android:name=".ExerciseCalendarActivity"
            android:exported="true"
            android:label="@string/exercise_calendar"
            android:theme="@style/Theme.NAFLD_App"/>

        <activity
            android:name=".CalorieCalculatorActivity"
            android:label="@string/caloric_calculator"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".DietRecommendationsActivity"
            android:label="@string/diet_recommendations"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".AboutAppActivity" />
        <activity android:name=".SaveInfoActivity"/>

    </application>

</manifest>


